
{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <h1 class="title">About</h1>
{% include 'nav.html' %}
<div class="row">
  <div class="col-sm-12 col-lg-12">
<p class="purpose">This website was created by three highschool seniors
  interning at a digital agency. Our goal is to educate users about some of the
   major issues that America has been facing for a while. The website shares
   informative information about the problems that Americans either will
   encounter or already encounter in their day to day lives, whether they know
   it or not. </p>
  </div>
</div>
<div class="row">
 <div class="col-sm-12 col-lg-4">
  <div class="content">
    <h1 class="names" style="color:red;">Raevyn</h1>
    <img class="temp" src="{% static "image/Raevyn.jpg" %}">
    <P class="purpose">My name is Raevyn Tabron I am a rising senior at Mckinley
       Tech High school. I am also a summer intern at the company I Strategy labs.
        ISL for abbreviation. The topic I chose and was most interested in was
        gentrification. Out of all the topics to choose from I picked gentrification
        because I see the changes happening in my community all of the time. I also
        wanted to learn how did people really feel towards the changes in their
        community, did they take a negative approach or a positive approach.One
         of the challenges I faced throughout creating the website was learning
          the basics of coding. I never was taught or felt the interest to code
          until I became an intern here. It was a very challenging stage but I
          persevered and created my own page on the website.
      </P>
  </div>
</div>
 <div class="col-sm-12 col-lg-4">
  <div class="content">
    <h1 class="names" style="color:red;">Justin</h1>
    <img class="temp" src="{% static "image/justin.jpg" %}">
    <P class="purpose">Hi my name is Justin Upshaw, I am 17 years old,
      I currently am a rising senior at Woodrow Wilson High School, and
      I am an aspiring director and video editor. The topic I picked was
       police brutality. Some of the challenges that we as a team have
        come across was getting people to interview as all of our topics
        of very serious but we were able to pull through overcome this
        problem with time. This has been one of the best projects I have
        ever been a part of and I hope that you all enjoy the content we
        have created!
      </P>
  </div>
 </div>
  <div class="col-sm-12 col-lg-4">
    <div class="content">
      <h1 class="names" style="color:red;">Carlos</h1>
      <img class="temp" src="{% static "image/Carlos.jpg" %}">
      <P class="purpose">Hello, my name is Carlos Herrera, and I’m a rising
         senior at Woodrow Wilson HS, and during the summer I was intern at
         the Company I-Strategy Labs as a Developer. The topic I chose for
          our project for the Internship was Net Neutrality, as I have
          always been passionate about the internet and the services that
          it provides, and seeing that companies are trying to shake money
           out of the Internet is very infuriating, and I think it needs
           to be brought to more people's attention. One of the biggest
           challenges that we faced as a group was trying to coordinate
           everything, and trying to make up for peoples absences. This
           is probably one of my favorite projects that I’ve ever taken
           part of, and I hope that all of you viewing it enjoy.
        </P>
    </div>
  </div>
</div>
</div>
</main>
{% endblock content %}
