{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <h1 class="title">Net Neutrality</h1>
    {% include 'nav.html'%}
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <p class="purpose" style="float: left">Net Neutrality Is the principle
        that the all data is treated fairly and that Internet service providers(ISP)
         cannot create fast lanes or slow lanes, throttle internet traffic, block
          access from certain websites, and they cannot charge extra for using
          certain websites or to certain users. Net Neutrality keeps the internet
          fair and equal for all internet users, and who doesn't enjoy fairness
           and equality on something as free and useful as the Internet? Without
           net neutrality regulating ISP’s, they have the ability to charge you
           extra for just accessing certain websites, or slow down access to
           certain websites, or any website that otherwise would’ve been completely
           open to anybody who could have come across the website. Not only can
           they charge you extra just for accessing certain websites, they can
           control what you see on the internet, making the internet less like a
           place with freedom of choice, and more of a place with an illusion of
           choice. With technology rapidly advancing and the internet becoming
           more and more of an essential tool, it makes no sense to try and place
            roadblocks to restrict the rapidly growing creativity and innovation
             that the internet has had and been known for ever since the Internet
              had been widely popularized. If the repeal of net neutrality
              remains, and companies begin to charge extra just to access the
              internet and certain websites, how much will you be willing to pay?
      </p>
    </div>
  <div class="col-sm-12 col-lg-6">
    <iframe class="vid" style="height:600px;" src="https://www.youtube.com/embed/LbNXR1B1hjQ"></iframe>
  </div>
</div>
<div class="row space">
<div class="col-sm-12 col-lg-4">
  <h2 class="Subtitle">Future without Net Neutrality</h2>
  <p class="purpose">For as long as the Internet has existed it has flourished
    with its constant streams of creativity, its freedom of navigation from one
     website to the next, and its eventual innate ability to share whatever you
      wanted, to whoever wanted to see it. Net neutrality has been the secret
      hand that has guided the internet through its age of flourishment, and
      without it the Internet will face constriction that ISPs will Inevitably
      force upon the Internet. Without Net neutrality ISPs have the ability to
      charge you extra, the ability to block websites from users, and they can
      throttle your internet, meaning that they can control the speed that your
      computer accesses certain websites. With the ability to block content, and
       force content, ISPs will make the internet less of the internet, and make
       the internet seem like it’s cable tv. The Internet would no longer be a
       place of freedom of navigation, and a place where each site loads equally
        and fairly to one another, but a place with an illusion of navigation
        and slow lanes and fast lanes to those who are willing to pay for those
         fast lanes.
  </p>
</div>
<div class="col-sm-12 col-lg-4">
<img class="temp" src="{% static "image/NNP.jpg" %}">
</div>
<div class="col-sm-12 col-lg-4">
  <h2 class="Subtitle"> Video Description </h2>
  <p class="purpose"> This video was made strictly to be informed.
    Living in the district many only worry about 3 topics which are economy,
     politics, and race. Net Neutrality is not discussed very often so others
     are not that educated on the issue many do not know that Net Neutrality
     can cause a major impact on our livelihood. Everyone uses the internet but
     does not know what Net Neutrality can do to the "easy accessibility" that
      currently exist on the internet this is frightening. This video should
      outline what many should watch out for and to get thinking on how to save
      it. Living in this world now our lives depend and surround the Internet,
      so if Net Neutrality gets repealed our lives become restricted.
  </aside>
  </p>
</div>
</div>
</main>
{% endblock content %}
