{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <h1 class="title">Police Brutality</h1>
    {% include 'nav.html' %}
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <p class="purpose" style="float: left">Police Brutality is a form of police misconduct which involves unjust violence towards civilians. In the United States of America, there have been too many cases of harassment, unjust assault, and misuse of power from Police officers. Police brutality is important as it is still very relevant and is still happening to this day. The fact that the people who are being employed to protect and serve the civilians, but have the ability to kill unarmed civilians and get off without facing any consequences is purely despicable.</p>
    </div>
    <div class="col-sm-12 col-lg-6">
  <iframe class="vid" src="https://www.youtube.com/embed/8mguYxJ8Z7g"></iframe>
  </div>
  </div>
  <div class="row space">
    <div class="col-sm-12 col-lg-4">
    <h2 class="Subtitle">Issue vs. Solution</h2>
      <p class="purpose">The issue is police officers have the license to kill
        and abuse their power on a daily basis. Most people in society
        (majority that are minorities) are afraid to even be in the presence
        of an officer. Innocent citizen should not have to fear for their lives
         from the people who are supposed to protect them.One solution is to
          have more training for officers. Study shows that it takes longer to
           become a hair stylist than an officer. Doing someone hair and
           protecting the people are on two very different levels of importance.
           We need to make sure that officers have a sufficient amount of
           training to be able to assess situations accordingly without having
           to make tragically hasty decisions. It is unfortunate that parents
           have to sit down and warn their child about the dangers of being
           in a situation when dealing with an officer. Parents have to educate
            their child on their rights and how to use the appropriate protocol.
             Another solution is that officers and citizens of different
             communities should all be attending community events. This will
             help establish trust between communities and the officers which is
              a very important aspect towards building a better community and
              relationship with a police officer.
            </p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <img class="temp" src="{% static "image/PBP.jpg" %}">
    </div>
    <div class="col-sm-12 col-lg-4">
      <h2 class="Subtitle">Video Description</h2>
     <p class="purpose"> 41-That is the number of bullets officers shot at
       Amadou Diallo in 1999. Believing he had a gun when in reality he had
       only a wallet. Police brutality is not a new problem, but is one of the
       biggest that has yet to be fixed. We employ people who should be nowhere
        near a gun, to carry out justice in the streets. Enough is enough, the
        people who were interviewed are just everyday high school students and
        people in the workforce who are giving their opinions and feelings on
        the police officers and the unfortunate tragedies that have occurred
        due to police brutality. The goal of video was to see how different
        people feel and interact with the police as well as try to find more
        solutions to fix our relationships with police officers. We as a society
         are far from perfect but our justice system and our police departments
          fundamentally need to improve for the sake of the future of America. 
     </p>
   </div>
  </div>
</main>


{% endblock content %}
