{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>Hstreet</h2>
      <img class="temp" src="{% static "image/Hstreet.png" %}">
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Noma</h2>
      <img class="temp" src="{% static "image/Noma.png" %}">
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Shaw</h2>
      <img class="temp" src="{% static "image/shaw.png" %}">
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2> 14thStreet</h2>
      <img class="temp" src="{% static "image/14thStreet.png" %}">
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2> CapitolRiverfront</h2>
      <img class="temp" src="{% static "image/CapitolRiverfront.png" %}">
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>SouthwestWaterfront</h2>
      <img class="temp" src="{% static "image/SouthwestWaterfront.png" %}">
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2> Brookland </h2>
      <img class="temp" src="{% static "image/Brookland.png" %}">
    </div>
  </div>
</div>

{% endblock content %}
